body {
  background: url(/base/index.styl);
}

/* url('somefile.jpg'); */

div {
  background: url('/dir/base.less');
}

span {
  background: url("/some/path/final.css");
}

div.hi {
  background: url(nofile.css);
}
